body {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a:visited {
    color: black!important;
}


#info td {
    border-right: 2px solid black;
}

td {
    background-color: white ;
    color:black;
    border: 1px solid black;
}
.hry {
    border: solid 2px brown;
    
}

img {
    width: 1000;
    height: 100px;
    display: block;
}

.herci td {
    color: blue;
    font-family: fantasy;


}
.žánr  {
        color: goldenrod
}




td {
    border: 2px solid ##0a0a0a;
    background-color:white;


}

.radek {
    flex-basis: 100%;
    height: 0;
}

.vlevo {
flex-basis: 90%;
border: 3px solid rgb(255, 255, 255);
}

.text {
    width:10em;
}


.jméno {
       color: goldenrod
}

.jmeno {
       color: goldenrod
}

.footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
#kontakt {
    flex: 70%;
    padding: 20px;
    flex-basis: 90%;
    border: 3px solid rgb(255, 255, 255);
  }